body { 
  margin: 0; 
  overflow: hidden;
  background: black;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.circle {
  position: fixed;
  z-index: 5;
  width: 32px;
  height: 32px;
  background-color: hsla(0, 0%, 80%, .2);
  border: 1px solid hsla(0, 0%, 100%, .7);
  border-radius: 50%;
  pointer-events: none;
  transition:
    background ease-in 10ms,
    box-shadow ease-in 150ms,
    transform ease-in 150ms;
  /* promote it to its own layer to enable  hardware accelerated rendering: */
  transform: translate3d(0, 0, 0);
}

.sidenav {
  height: 260px;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #190F19;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav .slider {
  display: flex;
  flex-direction: column;
  margin-top:25px;
}


.sidenav p {
  margin: 0px 0px 0px 25px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.sidenav .info {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.info-option:hover{
  background-color: #3A273A;
}

.option p {
  margin: 25px 0px 0px 25px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.checkbox {
  margin-top: 20px;
}


input[type="range"] { 
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 10px;
  width: 200px;
  cursor: pointer;
  border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
  background: #ddd;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
* 2. Shadow is the negative the full width of the input and has a spread 
*    of the width of the input.
*/
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* 1 */
  height: 10px;
  background: #fff;
  box-shadow: -200px 0 0 200px #2600EE; /* 2 */
  border: 2px solid #999; /* 1 */
}

::-moz-range-track {
  height: 40px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 10px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw #2600EE;
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background: #2600EE;
}

::-ms-thumb { 
  background: #fff;
  border: 2px solid #999;
  height: 10px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 10px;
  border: none;
}

::-ms-tooltip { 
  display: none;
}